.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/blockly/blockly_compressed.js
!node_modules/blockly/blocks_compressed.js
!node_modules/blockly/javascript_compressed.js
!node_modules/blockly/python_compressed.js
!node_modules/blockly/msg/en.js
!node_modules/blockly/media/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
